name: Deploy La Matriu

on: 
push: 
branches: 
      -main

permissions: 
  contents: write

jobs: 
  build-and-deploy: 
    runs-on: ubuntu-latest 
    steps: 
      - name: Checkout 
        uses: actions/checkout@v4
